#include "kaboom.rh"
BITMAP IDR_HOLE "hole.bmp"
BITMAP IDR_CIRCUIT "chip1.bmp"
BITMAP IDR_MUSH1 "mush1.bmp"
BITMAP IDR_MUSH2 "mush2.bmp"
BITMAP IDR_MUSH3 "mush3.bmp"
BITMAP IDR_MUSH4 "mush4.bmp"
BITMAP IDR_MUSH5 "mush5.bmp"
BITMAP IDR_MUSH6 "mush6.bmp"
BITMAP IDR_MUSHM1 "mush1m.bmp"
BITMAP IDR_MUSHM2 "mush2m.bmp"
BITMAP IDR_MUSHM3 "mush3m.bmp"
BITMAP IDR_MUSHM4 "mush4m.bmp"
BITMAP IDR_MUSHM5 "mush5m.bmp"
BITMAP IDR_MUSHM6 "mush6m.bmp"
POINTER ID_RESOURCE "kaboom.ico"

